/* hello bro sis Design Pattern siapmasukui.com */

/*  Color : bg stands for background color, ft stands for font color  */

.bg-bright-yellow { background-color: #fedc00; }
.ft-bright-yellow { color: #fedc00; }
.bg-golden-yellow { background-color: #e1c433; }
.ft-golden-yellow { color: #e1c433; }
.bg-bright-red { background-color: #e01e25; }
.ft-bright-red { color: #e01e25; }
.bg-turqoise { background-color: #6fc5a4; }
.ft-turqoise { color: #6fc5a4; }
.bg-black { background-color: #000000; }
.ft-black { color: #000000; }
.bg-grey { background-color: #efefef; }
.ft-grey { color: #efefef; }
.bg-white { background-color: #ffffff; }
.ft-white { color: #ffffff;}

/* Layout */

/* Typography : patterns */

/* Webfont: LatoLatin-Regular */
@font-face {
  font-family: 'LatoLatin';
  src: url('fonts/LatoLatin-Regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/LatoLatin-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/LatoLatin-Regular.woff') format('woff'), /* Modern Browsers */
  url('fonts/LatoLatin-Regular.ttf') format('truetype'); 
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Typography : implementation */

.font-latolatin {font-family: LatoLatin;}
.font-latolatinb {font-family: LatoLatin; font-weight: bold;}
.font-latolatinl {font-family: LatoLatin; font-weight: lighter;}

p {
  font-family: LatoLatin;
}

nav > ul > li > a {
  font-family: LatoLatin; font-weight: bold;
  font-size: 100%;
}

.modal-title {
  font-family: LatoLatin; font-weight: bold;
}


/* Form */

input, .form-control {
  border-radius: 0;
  -webkit-border-radius: 0; 
  -moz-border-radius: 0;
}

.form-group > label {
  text-align: left;
  float: left;
}

.form-group > label[type="checkbox"] {
  margin-left: 0 !important;
  background-color: red;
}

/* Button */
.btn {
  font-family: LatoLatin;
  border-radius: 0;
  -webkit-border-radius: 0; 
  -moz-border-radius: 0;
}

.btn-primary {
  color:white;
  background-color: black;  
  padding: 10px;
}
.btn-primary:hover {
  background-color: #3276b1 !important;
}

.btn-danger {
  color:white;
  background-color: #e01e25;  
}

.btn-statistic {
  padding: 5px !important;
  font-size: 90%;
}
/* Table */

td {
  vertical-align: middle !important;
}

.table  th {
 background-color: #000000;
 color: white;
}

tr:nth-child(even) {
  background: rgb(230,230,230);
}

.table tr:hover {
  background-color: #FFED75;
}

/* Pagination */

.pagination {
  border-radius: 0;
  margin-right: 15px;
}
.pagination > li > a,
.pagination > li > span {
  font-family: LatoLatin;
  color: #e1c433;
  margin-left: 4px;
  border-color: black;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  border-color: black;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  background-color: black;
  color: #fedc00 !important;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-color: black;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  background-color: black;
  color: #fedc00 !important;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: black !important;
  background-color: #dddddd;
  border-color: black;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #fedc00;
  border-color: black;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #fedc00 !important;
  background-color: black;
  border-color: black;
}

/* Notification */

.success-notification {
  background-color: #6fc5a4;
}
.error-notification {
  background-color: #e01e25;
}
.notification-message {
  color: #ffffff;
  padding: 10px;
  font-weight: bold;
}

/* Confirmation */

.modal-dialog {
  width: 300px;
}
.modal-content {
  border-radius: 0;
}
.modal-header {
  text-align: center;
  border-bottom: 3px solid #fedc00;
}
.modal-title {
  margin-left: 12px;
  font-size: 24px;
}
.modal-body {
  text-align: center;
  padding: 10px;
}
.modal-footer {
  text-align: center;
  border-top: none;
  padding: 10px;
}
.btn-modal-ok {
  color: #ffffff;
  border-radius: 0;
  background-color: #6fc5a4;
  border-color: #6fc5a4;
  padding: 10px 52px;
}
.btn-modal-ok:hover {
  color: #ffffff;
  background-color: #56aa8a;
}
.btn-modal-cancel {
  color: #ffffff;
  border-radius: 0;
  background-color: #e01e25;
  border-color: #e01e25;
  padding: 10px 40px;
}
.btn-modal-cancel:hover {
  color: #ffffff;
  background-color: #b4161c;
}

.btn-more:hover {
  color:white;
  background-color: black;
}
.btn-more-display:hover {
  color: white;
  background-color: black !important;
}

.home-more li.active:hover, .home-more a:hover {
  background-color: black !important;
}

/* implementation */

/* navigation */
.header-nav {
  background-color: #fedc00;
  /* box-shadow: 0px 10px 25px grey; */
  margin-bottom: 0;
  padding-bottom: 0;
}

/* layout */

/* general */

html, body {
  height: 100%;
}

header {
  height: 54px; /* 7.286166842661035%; */
  margin-bottom: 0;
  width: 100%;
}

header .header-nav, header .header-nav .container {
  height:100%;
}

.responsive-nav {
  display: inline;
  float:right;
  display: none;
}

.responsive-nav #dLabel {
  margin-top:8px;
  display: block;
  width: 50px;
  height: 35px;
  background-color: #fedc00;
  border-radius: 5px;
  border: 2px solid black;
  float: right;
}

.responsive-nav #dLabel hr{
    color: black;
    background-color: black;
    height: 3px;
    border: 0;
    margin: 7px;
    margin-top: 5px;
    margin-bottom: 6px;
}


.logo {
  height: 30px;
  margin: 10px;
}

.icon {
  height: 10px;
  margin-right: 3px;
}

.nav-link {
  float: left;
}

.navbar-default {
  margin: 0; padding: 0;
}

.navbar-nav {
  margin-left: 10px;
}

nav a, .navbar-header a {
  color: black !important;
}

nav span {
  font-size: 100%;
}

.navbar-default .navbar-nav > .active > a {
 background-color: #fedc00;
 border-bottom: 5px solid black;
}

nav li.active:hover, a:hover {
  background-color: rgba(0,0,0,0) !important;
}

.breadcrumbs {
  margin-top: 50px;
  margin-left: -15px;
  padding-left: 17px !important;
}

.content-home {
  height: 100%;
}

.remove-left-padding {
  padding-left: 0;
}

.carousel-inner, .carousel-inner .item, .carousel-inner .active {
  height: 100%;
}

.carousel-inner .item img {
  width: 100%;
  height: 100%;
}

.carousel-caption {
  width: 100%;
  height: 150px;
  background-color:rgba(0,0,0,0.5);
  position: absolute;
  left: 0;
  bottom: 0;
}

.carousel-caption > h1 {
  color: white;
  text-align: left;
  font-size: 200%;
  margin-left: 10.417%;/* 200px; */
  margin-right: 10.417%;/* 200px; */
  margin-top: 0;
}

.carousel-caption > p {
  color: white;
  text-align: left;
  font-size: 100%;
  margin-left: 10.417%;/* 200px; */
  margin-right: 10.417%;/* 200px; */
}

.modal-content {
  padding: 15px;
}

.grid-view td img[alt="On"] {
  content: url("view.png");
}

.newthread img {
  content: url("view.png");
}



@media (min-width: 0px) and (max-width: 639px) {
  .navbar-default {
    display: none;
  }


  .responsive-nav {
     display: inline;
  }

  .responsive-dropdown {
    right: 0;
    left: inherit;
    background-color:white;
    border: 0;
  }

  .responsive-dropdown li {
    border-bottom: 1px solid orange;
  }

  .content-home {
    height: 800px;
  }
   .home-slider {
    height: 30%;
  }

  .carousel-caption > h1 {
    color: white;
    text-align: left;
    font-size: 100%;
    margin-left: 10.417%;/* 200px; */
    margin-right: 10.417%;/* 200px; */
    margin-top: 0;
  }

  .carousel-caption > p {
    color: white;
    text-align: left;
    font-size: 80%;
    margin-left: 10.417%;/* 200px; */
    margin-right: 10.417%;/* 200px; */
  }

  footer {
    display: none;
  }

  .content-home .container-fluid {
    height: 489px;
    background-color: white;
  }

  .content-home .col-md-10 {
    height: 400px;
  } 

  .content-home .col-md-3 {
    clear: both;
    height: 150px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
  }
  .content-home .col-md-3:nth-child(3) {
      display:none;
  }

  .content-display-box {
    max-width: 100%;
  }

  .content-display figure {
    max-width: 100%;
    height: 100%;
  }

  .content-display figure img {
    float: left;
    height: 117px;
    width: 175px;
  }

  .content-display figure figcaption {
    display:inline;
    color: black;
    margin-left: 20px;
  }

  .content-display figure figcaption span {
    max-width: 50%;
    font-family: LatoLatin;
    font-size: 125%;
    display: inline-block;
  }

  .content-display p {
    margin-top: 10px;
    margin-left: 90px;
    font-size: 87.5%;
    text-align: justify;
    padding-left: 20px;
    max-height: 40px;
    overflow: hidden;
  }

  .content-display a {
    color: black;
    float: right;
    font-size: 60%;
    position: relative;
  }

  .home-more p {
    text-align: center;
  }

  .home-more a {
    font-size: 100%;
    background-color: #fedc00;
    color: black;
  }

  .content-home .col-md-2 {
    margin-top: 40px;
    background-color: #fedc00;
  }
}

@media (min-width:639px) and (max-width: 768px) {
   .navbar-default {
    display: none;
  }


  .responsive-nav {
     display: inline;
  }

  .responsive-dropdown {
    right: 0;
    left: inherit;
    background-color:white;
    border: 0;
  }

  .responsive-dropdown li {
    border-bottom: 1px solid orange;
  }

}
/* layout implementation : mid */
@media (min-width:639px) and (max-width: 992px) {
  .home-slider {
    height: 30%;
  }

  footer {
    display: none;
  }

  .content-home .container-fluid {
    height: 650px;
    background-color: white;
  }

  .content-home .col-md-10 {
    height: 570px;
  } 

  .content-home .col-md-3 {
    clear: both;
    height: 25%;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
  }

  .content-display-box {
    max-width: 100%;
  }

  .content-display figure {
    max-width: 100%;
    height: 100%;
  }

  .content-display figure img {
    float: left;
    height: 117px;
    width: 175px;
  }

  .content-display figure figcaption {
    display:inline;
    color: black;
    margin-left: 20px;
  }

  .content-display figure figcaption span {
    padding-top: 10px;
    font-family: LatoLatin;
    font-size: 125%;
    display: inline-block;
  }

  .content-display p {
    margin-top: 10px;
    margin-left: 90px;
    font-size: 87.5%;
    text-align: justify;
    padding-left: 100px;
  }

  .content-display a {
    color: black;
    float: right;
    font-size: 75%;
  }

  .remove-left-padding {
    padding-left: 0;
  }

  .home-more p {
    text-align: center;
  }

  .home-more a {
    font-size: 200%;
    background-color: #fedc00;
    color: black;
  }

  .content-home .col-md-2 {
    margin-top: 40px;
    background-color: #fedc00;
  }
}

@media (min-width:992px) {
  .content-home {
    height: 100%;
  }

  .home-slider {
    height: 50%;
  }

  .content-home .container-fluid {
    height: 50%;
    overflow: hidden;
  }

  
  .content-home .col-md-10 {
    height: 100%;
  } 
  .content-display-box {
    max-width: 100%;
    border-right: 1px solid black;
    position: relative;
  }

  .content-display figure {
    max-width: 100%;
    margin:6.7% 0;
    overflow: hidden;
    position: relative;
    right: 15px;
  }

  .content-display figure img {
    height: 66%;
    width: 100%; /* 182px; */
    /* 121px; */
  }

  .content-display figure figcaption {
    color: white;
    background-color: rgba(0,0,0,0.5);
    position: relative;
    bottom: 50px;
    height: 50px;
    overflow: hidden;
  }

  .content-display figure figcaption span {
    font-family: LatoLatin;
    font-size: 100%;
    margin:5%;
    display: inline-block;
  }

  .content-display p {
    font-size: 87.5%;
    position: relative;
    bottom: 40px;
    text-align: justify;
  }

  .content-display a {
    color: black;
    float: right;
    position: relative;
    bottom: 60px;
    font-size: 75%;
  }

  .home-more p {
    text-align: center;
    margin-top: 65%;
    margin-left:10%;
  }

  .home-more a {
    font-size: 200%;
    margin-left: 6.36%; /*20px;*/
  }

  footer {
    margin: 0;
    padding:0;
    color: white;
    background-color: black;
  }

  footer .container-fluid {
    padding-top:25px;
    padding-bottom: 25px;
  }

  footer p, footer span {
    color: #afafaf;
    text-align: left;
    text-align: justify;
    line-height: 110%;
  }

  .footer-mid p {
    text-align: center;
  } 

  footer .col-md-7 {
    background-color: #fedc00;
  }
  footer .col-maps {
    height: 190px;
  }

  footer .col1-maps h5 {
    color: black;
  }

  footer .col1-maps img {
    height: 75px;
  }

  footer .col1-maps {
    float: left;
    margin: 1.321% ;
    width: 13.315%;
  }

  footer .col2-maps {
    float: left;
    margin: 1.321%  1.321%;
    margin-left: 2.64%;
    width: 79.33%;
    height: 100%;
  }
} 


/*
@media (min-height: 768px) and (max-width: 1680px){
  .home-slider {
    height: 60%;
  }

  .content-home .container-fluid {
    height: 40%;
    overflow: hidden;
  }

  .content-home .col-md-10 {
    height: 80%;
  }
}
*/






/* end of implementation : home */

input[type="submit"] {
  border-radius: 0;
  background-color: black;
  color: white;
  border: 0;
}

.list-view div.preheader, .list-view div.post div.header {
  background: none !important;
  background-color: black !important;
}

.post .header {
  color: white;
}

.post a{
  color: white;
  text-decoration: underline;
}

.post .header .content {
  min-height: 100px !important;
  padding-top:30px !important;
  padding-bottom: 30px !important; 
}

.profile-view h3 {
  margin-top: 0;
  text-indent: 10px;
  border-left: 5px solid #6fc5a4;
}

#ytProfil_jenisKelamin {
  position: absolute;
}

.notif-error {
  background-color: #e01e25;
  color:white;
  font-size: 125%;
  padding:10px;
  text-align: center;
  font-family: "LatoLatin";
}

/* layout implementation : konten */

.judul-konten {
  margin-left: -15px;
  font-weight: bold;
}
.cari-berita {
  margin-right: -15px;
}
.isi-konten {
  margin-top: 30px;
  padding: 5px 50px;
  background-color: #efefef;
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.judul-isi-konten {
  margin-bottom: 30px;
}
.navigasi-konten {
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
}
.link-navigasi-konten {
  background-color: #fedc00;
  padding: 7px 20px;
  font-size: 15px;
  color: black;
}
.link-navigasi-konten:hover {
  text-decoration: none;
  color: gray;
}

li.dropdown.open {
  background-color: white;
}

ul.dropdown-menu {
  box-shadow: none !important;
  border-radius: 0;
}

/* end of implementation : konten */

/* layout implementation : admin */
.grid-view table.items th {
  background: black !important;
}
.grid-view table.items tr.odd {
  background: white !important;
}
.grid-view table.items tr.even {
  background: rgb(230,230,230) !important;
}
.grid-view table.items tr:hover {
  background: #FFED75 !important;
}
ul.yiiPager .selected a {
  background: #fedc00 !important;
  color: black !important;
}
ul.yiiPager a:link, ul.yiiPager a:visited {
  border: solid 1px black !important;
  font-weight: bold !important;
  color: black !important;
}
.portlet-decoration {
  background: black !important;
  border-left: none !important;
}
.portlet-title {
  color: white !important;
}
.portlet-content {
  background: rgb(230,230,230) !important;
}
.operations li a {
  color: black !important;
}
.operations li a:hover {
  color: gray !important;
}
#tryout-form input[type="submit"] {
  padding: 0.80%;
  padding-left: 13px;
  padding-right: 13px;
}
table.detail-view tr.odd {
  background: rgb(230,230,230) !important;
}
table.detail-view tr.even {
  background: white !important;
}
table.detail-view tr:hover {
  background: #FFED75 !important;
}
.btn-preview-tryout {
  margin-left: 10px;
}
.admin-content {
  min-height: 100%;
}
.admin-index {
  text-align: center;
}