
/* media query */

@media (min-width: 0px) and (max-width: 639px) {

  html {
    overflow-x: scroll !important;
  }

  .navbar-default {
    display: none;
  }


  .responsive-nav {
     display: inline;
  }

  .responsive-dropdown {
    right: 0;
    left: inherit;
    background-color:white;
    border: 0;
  }

  .responsive-dropdown li {
    border-bottom: 1px solid orange;
  }

  .content-home {
    height: 800px;
  }
   .home-slider {
    height: 30%;
  }

  .carousel-caption > h1 {
    color: white;
    text-align: left;
    font-size: 100%;
    margin-left: 10.417%;/* 200px; */
    margin-right: 10.417%;/* 200px; */
    margin-top: 0;
  }

  .carousel-caption > p {
    color: white;
    text-align: left;
    font-size: 80%;
    margin-left: 10.417%;/* 200px; */
    margin-right: 10.417%;/* 200px; */
  }

  footer {
    display: none;
  }

  .content-home .container-fluid {
    height: 489px;
    background-color: white;
    padding-right: 0;
  }

  .content-home .col-md-10 {
    height: 400px;
  } 

  .content-home .col-md-3 {
    clear: both;
    height: 150px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
  }
  .content-home .col-md-3:nth-child(3) {
      display:none;
  }

  .content-display-box {
    max-width: 100%;
  }

  .content-display figure {
    max-width: 100%;
    height: 100%;
  }

  .content-display figure img {
    float: left;
    height: 117px;
    width: 175px;
  }

  .content-display figure figcaption {
    display:inline;
    color: black;
    margin-left: 20px;
  }

  .content-display figure figcaption span {
    max-width: 50%;
    font-family: LatoLatin;
    font-size: 125%;
    display: inline-block;
  }

  .content-display p {
    margin-top: 10px;
    margin-left: 90px;
    font-size: 87.5%;
    text-align: justify;
    padding-left: 20px;
    max-height: 40px;
    overflow: hidden;
  }

  .content-display a {
    color: black;
    float: right;
    font-size: 60%;
    position: relative;
  }

  .home-more p {
    text-align: center;
  }

  .home-more a {
    font-size: 100%;
    background-color: #fedc00;
    color: black;
  }

  .content-home .col-md-2 {
    margin-top: 40px;
    background-color: #fedc00;
  }
  .float-foto {
    float: none !important;
  }
  .profil-box {
    padding: 20px 20px !important;
  }
  .float-btn-profil {
    float: none !important;
  }
  #sidebar {
    padding: 20px 20px 20px 20px;
  }
}

@media (min-width:0) {
  .modal-sm {
    width: 300px !important;
    z-index: 100;
  }

  .modal-dialog {
    margin: 30px auto !important;
    z-index: 100;
  }
}