/********************************************************/
.centered{
    float: none;
    margin: 0 auto;
}
.little-box{
	width: 300px;
	text-align: center;
}
.bright-color{
	color: wheat;
}
/********************************************************/

.header-nav{
	background-color:rgba(228, 230, 229, 0.85);	
}


/********************************************************/
.content{
	min-height: 365px;
}
 
 .itemimg{
	position: relative;				
}

.itemimg img{	
	width: 200px;
	height: 200px;
}

 .price{
	position: absolute;
	top:0;
	left:0;
	padding: 2px;		
	background: rgba(255,255,255,.8);	
}		

.itemimg p{
	margin-top: 5px;
	text-align: center;
}
.itemimg a{
	color: black;	
	text-decoration: none;
}
.itemimg:hover img{	
	transition: all .6s ease;
	border: solid 5px black;
	-webkit-transform:scale(1.2,1.2);
	-moz-transform:scale(1.2,1.2);
	transform:scale(1.2,1.2);
}
.harga{
	margin-top: 10px;
	font-size: 40px;
}

/********************************************************/

footer{
 	text-align: center;
 	background-color: black;
 	color:white;
 	padding: 30px 0; 	
 	line-height: 200%;
 	margin-top: 80px;
 }
 footer a{
 	color: inherit;
 }
footer a:hover{
	text-decoration: none;
	color: inherit;	
}
 footer .row{
	margin-top: 10px;
 }
 .social a{
 	display: inline-block;
 }
 .social span{
 	display: block;
 	margin-top: 4px;
 }
